* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
  color: rgb(37, 37, 37);
}

.container {
  width: 100vw;
  height: 100vh;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.game {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.cell {
  background: #f3f3f3;
  width: 100px;
  height: 100px;
  border: 1px solid #222;
}